In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# This is a headline
## Subheadline

**Text**

More Text

* *italics* *

In [5]:
1+1

2

In [6]:
int((((100-5) ** 1.2) +1 ) /3.14)

75

# Quiz 1

In [7]:
7*10.42*4

291.76

## Quiz 2

In [8]:
(20*.44 + 1*.34) - 9.00

0.14000000000000057

In [9]:
print(1)
2
3
4
5
6
7

1

7

In [10]:
print(1)
2
3
4
print(5)

1
5

In [11]:
print(1)
print(2)

1
2

In [12]:
pokebowl_price = 8.25

In [13]:
print(pokebowl_price)

8.25

In [14]:
poke_price = 20
poke_weight = 0.5
tax = 9.5

poke_price * poke_weight * (1+(tax/100))

10.95

In [1]:
aus_activity = 'free diving'
print(aus_activity)
print(aus_activity.title())
print(aus_activity.upper())
print(aus_activity.lower())

free diving
Free Diving
FREE DIVING
free diving

In [2]:
print('Martin Islet'+' '+aus_activity)

Martin Islet free diving

In [6]:
country = 'Austrailia'
complete_activity_location = "{}, {}".format(country, aus_activity)
print(complete_activity_location)

Austrailia, free diving

In [7]:
print('I went swimming'.upper())

I WENT SWIMMING

In [1]:
import math

In [2]:
area = math.pi *5**2
area

78.53981633974483

In [3]:
print(math.pi)

3.141592653589793

In [4]:
print(math.pi *5)

15.707963267948966

In [5]:
15.707963 **2

246.740101609369

In [6]:
5**2

25

In [1]:
# Chapter 4#

import math
import scipy

In [2]:
import scipy.constants

In [5]:
from scipy.constants import c

In [6]:
print(c)

299792458.0

In [10]:
print(149600000000/c)

499.01188641643546

In [11]:
import math as m

area =m.pi *5**2
area

78.53981633974483

In [12]:
from math import pi, tau

area = pi * 5 ** 2
circumference = tau * 5 

print("The area is {}".format(area))
print("The cirumference is {}".format(circumference))

The area is 78.53981633974483
The cirumference is 31.41592653589793

In [13]:
m.sqrt(255)

15.968719422671311

In [14]:
math.sqrt(255)

15.968719422671311

In [15]:
m.tan(pi/4)

0.9999999999999999

In [16]:
round(213.324235325, 3)

213.324

In [17]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [22]:
import random

In [25]:
import random

print(random.randrange(3, 9))

6

In [27]:
#chapter 5#

def fahr_to_celsius(fahr):
    celsius = (fahr -32) * (5/9)
    return celsius

fahr_to_celsius(250)

121.11111111111111

In [30]:
def greet_user(username):
    print("Hello {}".format(username.title()))
    
greet_user("lavagirl808")

Hello Lavagirl808

In [31]:
import math

#Earth_radius_km = 6371
#Earth_radius_miles = 3959
#Earth_radius_feet = 3959*5280

def distance(lat1, lon1, lat2, lon2, earth_radius=6371):

  dlat = math.radians(lat2 - lat1)
  dlon = math.radians(lon2 - lon1)
  
  a = (math.sin(dlat / 2) * math.sin(dlat / 2) + math.cos(math.radians(lat1))
       * math.cos(math.radians(lat2)) * math.sin(dlon / 2) * math.sin(dlon / 2))
  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
  d = earth_radius * c
  
  return d

In [32]:
distance(21.3069, -157.858093, 34.987476, 135.759491)
# kilometers between Kyoto and Honolulu

6567.145591489822

In [33]:
# Chapter 6 #

In [34]:
suits = ["â™¤", "â™¡", "â™¢", "â™§"]
suits

['â™¤', 'â™¡', 'â™¢', 'â™§']

In [36]:
suits[0]

'â™¤'

In [37]:
suits[-4]

'â™¤'

In [38]:
spade = suits[-4]
print(spade)

â™¤

In [39]:
suits[0:2]

['â™¤', 'â™¡']

In [40]:
suits[0:3]

['â™¤', 'â™¡', 'â™¢']

In [41]:
suits[:2]

['â™¤', 'â™¡']

In [43]:
suits[2:]

['â™¢', 'â™§']

In [44]:
print('Printing the first three elements:')
print(suits[0:3])
print(suits[:3])

print('Printing the last two elements:')
print(suits[2:4])
print(suits[2:])

print('Referring to the entire suits list:')
print(suits[0:4])
print(suits[:4])
print(suits[0:])
print(suits[:])

Printing the first three elements:
['â™¤', 'â™¡', 'â™¢']
['â™¤', 'â™¡', 'â™¢']
Printing the last two elements:
['â™¢', 'â™§']
['â™¢', 'â™§']
Referring to the entire suits list:
['â™¤', 'â™¡', 'â™¢', 'â™§']
['â™¤', 'â™¡', 'â™¢', 'â™§']
['â™¤', 'â™¡', 'â™¢', 'â™§']
['â™¤', 'â™¡', 'â™¢', 'â™§']

In [45]:
emojis_2017 = ['ðŸ˜‚', 'â¤', 'ðŸ˜­', 'ðŸ˜', 'ðŸ˜˜', 'ðŸ˜Š']
emojis_2017.append('ðŸ™„') 
emojis_2017

['ðŸ˜‚', 'â¤', 'ðŸ˜­', 'ðŸ˜', 'ðŸ˜˜', 'ðŸ˜Š', 'ðŸ™„']

In [46]:
emojis_2017.insert(1, 'ðŸ¤”')
emojis_2017

['ðŸ˜‚', 'ðŸ¤”', 'â¤', 'ðŸ˜­', 'ðŸ˜', 'ðŸ˜˜', 'ðŸ˜Š', 'ðŸ™„']

In [47]:
smiley = emojis_2017.pop(-2)
print(emojis_2017)
smiley

['ðŸ˜‚', 'ðŸ¤”', 'â¤', 'ðŸ˜­', 'ðŸ˜', 'ðŸ˜˜', 'ðŸ™„']

'ðŸ˜Š'

In [48]:
uh_food_trucks = ("Sistah Truck", "Punchbowl Cafe", "Peace Cafe", "Hot Tacos")
print(type(uh_food_trucks))

<class 'tuple'>

In [49]:
uh_food_trucks = list(uh_food_trucks)
uh_food_trucks.append("Kamitoku Ramen")
print(type(uh_food_trucks))
print(uh_food_trucks)

<class 'list'>
['Sistah Truck', 'Punchbowl Cafe', 'Peace Cafe', 'Hot Tacos', 'Kamitoku Ramen']

In [50]:
uh_food_trucks = tuple(uh_food_trucks)
print(type(uh_food_trucks))

<class 'tuple'>

In [52]:
broadway_shows = ['The Lion King', 'Rent', 'Wicked', 'Hamilton', 
                  'Chicago', 'Aladdin', 'Frozen']

for show in broadway_shows:
    print("{} is sold out today!".format(show))

The Lion King is sold out today!
Rent is sold out today!
Wicked is sold out today!
Hamilton is sold out today!
Chicago is sold out today!
Aladdin is sold out today!
Frozen is sold out today!

In [56]:
import random
suits = ["â™¤", "â™¡", "â™¢", "â™§"]
for draw in range(1, 4):
  print("This is draw {}:".format(draw))
  print(random.choice(suits))

This is draw 1:
â™¢
This is draw 2:
â™§
This is draw 3:
â™§

In [57]:
# Chapter 7 #
# Dictionaries  - unordered items in key:value format #

In [58]:
elsa_instagram = {'username' : 'elsa',
                  'followers' : 342266,
                  'online' : True, 
                  'account age' : '4 years'}

print(elsa_instagram)

{'username': 'elsa', 'followers': 342266, 'online': True, 'account age': '4 years'}

In [61]:
print(elsa_instagram["online"])

True

In [62]:
# Change The state

elsa_instagram["online"] = False

# print to make sure that it did change

elsa_instagram["online"]

False

In [63]:
# Add email
elsa_instagram["email"] = "elsa100@gmail.com"

# Print info to show that it was appropriately added.
elsa_instagram["email"]

'elsa100@gmail.com'

In [64]:
print(elsa_instagram)

{'username': 'elsa', 'followers': 342266, 'online': False, 'account age': '4 years', 'email': 'elsa100@gmail.com'}

In [65]:
del elsa_instagram["email"]

In [66]:
print(elsa_instagram)

{'username': 'elsa', 'followers': 342266, 'online': False, 'account age': '4 years'}

In [68]:
ghg_2014 = {'chinaa' : 2806634, 'united states of america' : 1432855, 
            'india' : 610411, 'russian federation' : 465052, 
            'japan' : 331074, 'germany' : 196314}

In [69]:
print(ghg_2014)

{'chinaa': 2806634, 'united states of america': 1432855, 'india': 610411, 'russian federation': 465052, 'japan': 331074, 'germany': 196314}

In [70]:
del ghg_2014["chinaa"]
ghg_2014["china"] = 2806634
print(ghg_2014)

{'united states of america': 1432855, 'india': 610411, 'russian federation': 465052, 'japan': 331074, 'germany': 196314, 'china': 2806634}

In [75]:
print(ghg_2014.keys())
print("")
print(ghg_2014.values())
print(" ")
print(ghg_2014.items())

dict_keys(['united states of america', 'india', 'russian federation', 'japan', 'germany', 'china'])

dict_values([1432855, 610411, 465052, 331074, 196314, 2806634])

dict_items([('united states of america', 1432855), ('india', 610411), ('russian federation', 465052), ('japan', 331074), ('germany', 196314), ('china', 2806634)])

In [76]:
for keys in ghg_2014.keys():
    print(keys)

united states of america
india
russian federation
japan
germany
china

In [79]:
for value in ghg_2014.values():
    print(value)

1432855
610411
465052
331074
196314
2806634

In [85]:
for key, value in ghg_2014.items():
    print("\n Key: {}".format(key))
    print("Value: {}".format(value))

 Key: united states of america
Value: 1432855

 Key: india
Value: 610411

 Key: russian federation
Value: 465052

 Key: japan
Value: 331074

 Key: germany
Value: 196314

 Key: china
Value: 2806634

In [86]:
for element in  sorted(ghg_2014.keys()):
    print(element)

china
germany
india
japan
russian federation
united states of america

In [88]:
for element in sorted(ghg_2014.values()):
    print(element)

196314
331074
465052
610411
1432855
2806634

In [89]:
cipher = {'a' : 'd',
          'b' : 'e',
          'c' : 'f',
          'd' : 'g',
          'e' : 'h',
          'f' : 'i',
          'g' : 'j',
          'h' : 'k',
          'i' : 'l',
          'j' : 'm',
          'k' : 'n',
          'l' : 'o',
          'm' : 'p',
          'n' : 'q',
          'o' : 'r',
          'p' : 's',
          'q' : 't',
          'r' : 'u',
          's' : 'v',
          't' : 'w',
          'u' : 'x',
          'v' : 'y',
          'w' : 'z',
          'x' : 'a',
          'y' : 'b',
          'z' : 'c',
          " " : 'xx'}

In [106]:
def encrypt_decrypt(message, cipher):
  result = ""
  for c in message:
    result = result + cipher[c]
  return result

In [107]:
print(encrypt_decrypt("hello", cipher))
print(encrypt_decrypt("this is a secret message", cipher))
print(encrypt_decrypt("do you think you can decode it", cipher))

khoor
wklvxxlvxxdxxvhfuhwxxphvvdjh
grxxbrxxxwklqnxxbrxxxfdqxxghfrghxxlw

In [108]:
def invert(my_cipher):
    result = {} 
    for key, value in my_cipher.items():
      result[value] = key
    return result
    
def encrypt_decrypt(message, cipher):
  return encrypt(message, invert(cipher))

In [111]:
# list of of tuples 
monuments = [('USS Arizona', "N21Â°18'", "W157Â°57'"),
             ("Iolani Palace", "N21Â°18'", "W157Â°51'"),
             ("Diamond Head", "N21Â°15'", "W157Â°48'")]
monuments

[('USS Arizona', "N21Â°18'", "W157Â°57'"),
 ('Iolani Palace', "N21Â°18'", "W157Â°51'"),
 ('Diamond Head', "N21Â°15'", "W157Â°48'")]

In [112]:
csu = ['cal poly', 'csuf', 'csun', 'long beach state']
uh = ['uhm']
uc = ['uc davis', 'uc irvine', 'uc riverside', 'uc santa barbara']

big_west = {'CSU' : csu, 'UH' : uh, 'UC' : uc}

print(big_west)

{'CSU': ['cal poly', 'csuf', 'csun', 'long beach state'], 'UH': ['uhm'], 'UC': ['uc davis', 'uc irvine', 'uc riverside', 'uc santa barbara']}

In [114]:
print("This is the third element in the monuments list: {}".format(monuments[2]))

This is the third element in the monuments list: ('Diamond Head', "N21Â°15'", "W157Â°48'")

In [115]:
print('This is the item under "UC": {}'.format(big_west["UC"]))

print('This is the last item in the "UC" list: {}'.format(big_west["UC"][-1]))

This is the item under "UC": ['uc davis', 'uc irvine', 'uc riverside', 'uc santa barbara']
This is the last item in the "UC" list: uc santa barbara

In [116]:
# Chapter 8 #

In [117]:
# if emission is greater than 500000, print the name of the country

for country, emission in ghg_2014.items():
  if emission > 500000:
    print(country)

united states of america
india
china

In [118]:
suits = ["â™¤", "â™¡", "â™¢", "â™§"]
card_numbers = ['A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K']
cards = []
for suit in suits:
  for number in card_numbers:
    card = suit + number
    cards.append(card)
    
cards

['â™¤A',
 'â™¤2',
 'â™¤3',
 'â™¤4',
 'â™¤5',
 'â™¤6',
 'â™¤7',
 'â™¤8',
 'â™¤9',
 'â™¤10',
 'â™¤J',
 'â™¤Q',
 'â™¤K',
 'â™¡A',
 'â™¡2',
 'â™¡3',
 'â™¡4',
 'â™¡5',
 'â™¡6',
 'â™¡7',
 'â™¡8',
 'â™¡9',
 'â™¡10',
 'â™¡J',
 'â™¡Q',
 'â™¡K',
 'â™¢A',
 'â™¢2',
 'â™¢3',
 'â™¢4',
 'â™¢5',
 'â™¢6',
 'â™¢7',
 'â™¢8',
 'â™¢9',
 'â™¢10',
 'â™¢J',
 'â™¢Q',
 'â™¢K',
 'â™§A',
 'â™§2',
 'â™§3',
 'â™§4',
 'â™§5',
 'â™§6',
 'â™§7',
 'â™§8',
 'â™§9',
 'â™§10',
 'â™§J',
 'â™§Q',
 'â™§K']

In [122]:
i=0
for card in cards:
    print(card, end="\t")
    i += 1
    if i == 13:
        print()
        i=0

â™¤A	â™¤2	â™¤3	â™¤4	â™¤5	â™¤6	â™¤7	â™¤8	â™¤9	â™¤10	â™¤J	â™¤Q	â™¤K
â™¡A	â™¡2	â™¡3	â™¡4	â™¡5	â™¡6	â™¡7	â™¡8	â™¡9	â™¡10	â™¡J	â™¡Q	â™¡K
â™¢A	â™¢2	â™¢3	â™¢4	â™¢5	â™¢6	â™¢7	â™¢8	â™¢9	â™¢10	â™¢J	â™¢Q	â™¢K
â™§A	â™§2	â™§3	â™§4	â™§5	â™§6	â™§7	â™§8	â™§9	â™§10	â™§J	â™§Q	â™§K

In [123]:
# Chapter 9 #

In [124]:
abo = ['A', 'B', 'O']
bloodtypes = []
for blood in abo:
  for blood2 in abo:
    bloodtype = [blood, blood2]
    if sorted(bloodtype) not in bloodtypes:
      bloodtypes.append(sorted(bloodtype))
print(bloodtypes)

[['A', 'A'], ['A', 'B'], ['A', 'O'], ['B', 'B'], ['B', 'O'], ['O', 'O']]